{{ define "main" }}
  <section class="post">
    <header class="major">
      <h1>Konzerte</h1>
    </header>
    <span class="concert-intro">Zukünftige Konzerte:</span>
    {{ range sort (where (where .Site.RegularPages "Section" "concerts") ".Date" "ge" now) ".Date" "asc" }}
    <div class="concert detailed">
      <hr>
      <a href="{{ .Permalink }}">
        <!-- TODO: maybe add picture on the right side? -->
        <span class="date">{{ .Date | time.Format ":date_long" }}</span>
        <ul>
          <li class="title">{{ .Title }}</li>
          <li class="address">{{ .Params.address }}</li>
          <li class="price">{{ .Params.price }}</li>
        </ul>
      </a>
    </div>
    {{ end }}

    <span class="concert-intro">Vergangene Konzerte:</span>
    {{ range sort (where (where .Site.RegularPages "Section" "concerts") ".Date" "lt" now) ".Date" "desc" }}
    <div class="concert detailed">
      <hr>
      <a href="{{ .Permalink }}">
        <!-- TODO: maybe add picture on the right side? -->
        <span class="date">{{ .Date | time.Format ":date_long" }}</span>
        <ul>
          <li class="title">{{ .Title }}</li>
          <li class="address">{{ .Params.address }}</li>
          <li class="price">{{ .Params.price }}</li>
        </ul>
      </a>
    </div>
    {{ end }}
  </section>
{{ end }}
