{{ define "main" }}
  <section class="post">
    {{ $concerts := where .Site.RegularPages "Section" "concerts" }}
    <header class="major">
      <h1>Konzerte</h1>
    </header>

    <section class="concert-columns">
      <div class="concert-image image main">
        <img src="https://content.bluefate.de/kufa_bw.jpg" alt="" />
      </div>
      <div class="concert-list">
        {{ $futureConcerts := sort (where $concerts ".Date" "ge" now) ".Date" "asc" }}
        {{ if gt (len $futureConcerts) 0 }}
        <span class="concert-intro">Zukünftige Konzerte:</span>
        {{ range $futureConcerts }}
        <div class="concert detailed">
          <hr>
          <a href="{{ .Permalink }}">
            <!-- TODO: maybe add picture on the right side? -->
            <span class="date">{{ .Date | time.Format ":date_long" }}</span>
            <ul>
              <li class="title">{{ .Title }}</li>
              <li class="address">{{ .Params.address }}</li>
              <li class="price">{{ .Params.price }}</li>
            </ul>
          </a>
        </div>
        {{ end }}
        {{ end }}

        {{ $pastConcerts := sort (where $concerts ".Date" "lt" now) ".Date" "desc" }}
        {{ if gt (len $pastConcerts) 0 }}
        <span class="concert-intro">Vergangene Konzerte:</span>
        {{ range $pastConcerts }}
        <div class="concert detailed">
          <hr>
          <a href="{{ .Permalink }}">
            <!-- TODO: maybe add picture on the right side? -->
            <span class="date">{{ .Date | time.Format ":date_long" }}</span>
            <ul>
              <li class="title">{{ .Title }}</li>
              <li class="address">{{ .Params.address }}</li>
              <li class="price">{{ .Params.price }}</li>
            </ul>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </section>
  </section>
{{ end }}
