{{ $title := .Page.Title }}
{{ $lat := .Page.Params.lat }}
{{ $long := .Page.Params.long }}
<link rel="stylesheet" href="/assets/css/leaflet.css" />
<!-- TODO should use some kind of sensible css class settings -->
<div id="map" style="width: 100%; height: 580px;">
</div>
<script src="/assets/js/leaflet.js"></script>
<script src="/assets/js/leaflet-tilelayer-colorfilter.min.js"></script>
<script>
    // Creating map options
    var mapOptions = {
        center: [{{ $lat }}, {{ $long }}],
        // Zoom level of the map, larger = closer
        zoom: 10,
    };
    // Creating a map object
    var map = new L.map("map", mapOptions);
    // Creating a colorFilter object
    let niceGrayscaleFilter = [
      'grayscale:100%',
      'sepia:15%',
      'brightness:95%',
    ];
    // Creating a Layer object
    var layer = L.tileLayer.colorFilter("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        filter: niceGrayscaleFilter,
    });
    // Adding layer to the map
    layer.addTo(map);

    var marker = L.marker(L.latLng({{ $lat }}, {{ $long }}), {
        title: {{ $title }},
    });
    marker.addTo(map);
    marker.bindPopup({{ $title }}).openPopup();
</script>

